<%= gettext "New report from %{reporter} on %{instance}", reporter: @report.reporter.preferred_username, instance: @instance[:name] %>
--
<%= if Map.has_key?(@report, :event) do %>
  <%= gettext "Event" %>
  <%= @report.event.title %>
<% end %>
<%= if Map.has_key?(@report, :comments) && length(@report.comments) > 0 do %>
  <%= gettext "Comments" %>
  <%= for comment <- @report.comments do %>
    <%= comment.text %>
  <% end %>
<% end %>
<%= if @report.content do %>
  <%= gettext "Reason" %>
  <%= @report.content %>
<% end %>
<%= gettext "View report:" %> <%= page_url(Mobilizon.Web.Endpoint, :moderation_report, @report.id) %>
